bin/*
!bin/.keep

build
assimp
bullet3-master
lib

callgrind.*

_deps
external/CMakeLists.txt
external/stb_image
external/pugixml
external/boost_statechart

CMakeFiles
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
DartConfiguration.tcl
Makefile

.ninja_deps
.ninja_log
build.ninja

.vscode
cmake-run.sh
code_style.sh
run.sh

index/entries
index/docs/

*.o
*.a
